@using Analysis.Entities.Concrete

@model IEnumerable<Analyze>

<a asp-action="Insert" class="btn btn-primary mb-3">Insert a new analyze</a>
<table class="table table-active style="width: 100%; table-layout: fixed;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.AnalyzeTypeId)</th>
            <th>@Html.DisplayNameFor(p => p.StartDate)</th>
            <th>@Html.DisplayNameFor(p => p.EndDate)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th>@Html.DisplayNameFor(p => p.AnalystId)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentId)</th>
        
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AnalyzeTypeId</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Description</td>
                <td>@item.AnalystId</td>
                <td>@item.EquipmentId</td>
                
            </tr>
        }
    </tbody>

</table>
