@model IEnumerable<Drug>

@{
    ViewData["Title"] = "Index";
}

    <h3>Drugs</h3>
<a asp-action="Insert" class="btn btn-success mb-3">Insert a new drug</a>
<table class="table table-active id="sidebar-overlay">   
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.ProductCode)</th>
            <th>@Html.DisplayNameFor(p => p.BatchNo)</th>
            <th>@Html.DisplayNameFor(p => p.DosageForm)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th>@Html.DisplayNameFor(p => p.MFGDate)</th>
            <th>@Html.DisplayNameFor(p => p.EXPDate)</th>
            <th>@Html.DisplayNameFor(p => p.StorageCondition)</th>
            <th></th>
        </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductCode</td>
                <td>@item.BatchNo</td>
                <td>@item.DosageForm</td>
                <td>@item.Description</td>
                <td>@item.MFGDate</td>
                <td>@item.EXPDate</td>
                <td>@item.StorageCondition</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>