@using Analysis.Entities.Concrete

@model IEnumerable<Drug>

<a asp-action="Insert" class="btn btn-primary mb-3">Insert a new drug</a>
<table class="table table-active">   
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.ProductCode)</th>
            <th>@Html.DisplayNameFor(p => p.BatchNo)</th>
            <th>@Html.DisplayNameFor(p => p.DosageForm)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th>@Html.DisplayNameFor(p => p.MFGDate)</th>
            <th>@Html.DisplayNameFor(p => p.EXPDate)</th>
            <th>@Html.DisplayNameFor(p => p.StorageCondition)</th> 
        </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductCode</td>
                <td>@item.BatchNo</td>
                <td>@item.DosageForm</td>
                <td>@item.Description</td>
                <td>@item.MFGDate</td>
                <td>@item.EXPDate</td>
                <td>@item.StorageCondition</td>
            </tr>
        }
    </tbody>

</table>