@model IEnumerable<HPLCEquipment>

@{
    ViewData["Title"] = "Index";
}

<h3>HPLC Equipments</h3>
<a asp-action="Insert" class="btn btn-primary mb-3">Insert a new analyze</a>
<table class="table table-active" style="width: 100%; table-layout: fixed;">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.Brand)</th>
            <th>@Html.DisplayNameFor(p => p.SerialNumber)</th>
            <th>@Html.DisplayNameFor(p => p.CalibrationDueDate)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Brand</td>
                <td>@item.SerialNumber</td>
                <td>@item.CalibrationDueDate</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
