@model IEnumerable<AnalyzeDetail>


@{
    ViewData["Title"] = "Index";
}

<h3>Analyze Details</h3>

<a asp-action="Insert" class="btn btn-success mb-3">Insert a new analyze details</a>
@* <table class="table table-active" style="width: 100%; table-layout: fixed;"> *@
<table class="table table-active id="sidebar-overlay">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.AnalyzeId)</th>
            <th>@Html.DisplayNameFor(p => p.DrugId)</th>
            <th>@Html.DisplayNameFor(p => p.Limit)</th>
            <th>@Html.DisplayNameFor(p => p.Result)</th>
            <th>@Html.DisplayNameFor(p => p.Comments)</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AnalyzeId</td>
                <td>@item.DrugId</td>
                <td>@item.Limit</td>
                <td>@item.Result</td>
                <td>@item.Comments</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
