@model IEnumerable<Analyze>
@{
    ViewData["Title"] = "Index";
}

<h3>Analyzes</h3>

<a asp-action="Insert" class="btn btn-success mb-3">Insert a new analyze</a>
@* <table class="table table-active" style="width: 100%; table-layout: fixed;"> *@
<table class="table table-active id="sidebar-overlay">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(p => p.Id)</th>
            <th>@Html.DisplayNameFor(p => p.AnalyzeTypeId)</th>
            <th>@Html.DisplayNameFor(p => p.StartDate)</th>
            <th>@Html.DisplayNameFor(p => p.EndDate)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th>@Html.DisplayNameFor(p => p.AnalystId)</th>
            <th>@Html.DisplayNameFor(p => p.EquipmentId)</th>
            <th></th>
        
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.AnalyzeTypeId</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Description</td>
                <td>@item.AnalystId</td>
                <td>@item.EquipmentId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
